if status is-interactive
    # Commands to run in interactive sessions can go here
end

if not functions -q fundle
    mkdir -p ~/.config/fish/functions
    curl -sfL https://raw.githubusercontent.com/danhper/fundle/refs/heads/master/functions/fundle.fish -o ~/.config/fish/functions/fundle.fish
    source ~/.config/fish/functions/fundle.fish
end

fundle plugin 'IlanCosman/tide'
fundle plugin 'jethrokuan/z'
fundle plugin 'jorgebucaran/replay.fish'
fundle plugin 'jorgebucaran/autopair.fish'
fundle plugin 'gazorby/fish-abbreviation-tips'
fundle plugin 'tuvistavie/oh-my-fish-core'
fundle plugin 'edc/bass'

# Install plugins if they're not already installed
if not test -d ~/.config/fish/fundle
    fundle install
end

fundle init

# Configure tide after fundle has loaded it
# tide configure --auto --style=Lean --prompt_colors='True color' --show_time='12-hour format' --lean_prompt_height='Two lines' --prompt_connection=Disconnected --prompt_spacing=Sparse --icons='Few icons' --transient=No

# direnv hook fish | source

fish_add_path $HOME/.spicetify

{{- if eq .chezmoi.os "darwin" }}
# Added by OrbStack: command-line tools and integration
# This won't be added again if you remove it.
source ~/.orbstack/shell/init2.fish 2>/dev/null || :

set -x OBJC_DISABLE_INITIALIZE_FORK_SAFETY YES
{{- end }}

# bun
set --export BUN_INSTALL "$HOME/.bun"
set --export PATH $BUN_INSTALL/bin $PATH

# opencode
fish_add_path /Users/tahsin/.opencode/bin
