[user]
	email = {{ .git.email }}
	name = {{ .git.name }}
[core]
	autocrlf = input
    pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	side-by-side = true

[include]
	path = ~/.gitconfig.work
